<section>
  <h1>About Me</h1>
  <p>I'm a linux/free software/tech enthusiast, and I like coffee and the occasional cigar.  
By trade I'm a software engineer who dabbles semi-expertly in RF testing equipment.</p>
</section>


<script type="text/javascript"><!--
google_ad_client = "ca-pub-2775682770358114";
/* jrobb-octopress-side */
google_ad_slot = "1549623005";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
