<section>
  <h1>About Me</h1>
  <p>I'm a linux/free software/tech/coffee enthusiast, and I enjoy the occasional cigar.  
  <br>By trade I'm a software engineer/group leader who dabbles semi-expertly in RF testing equipment & automation.
  <br>I enjoy digging into and learning with Python and Go. 
</p>
</section>


<script type="text/javascript"><!--
google_ad_client = "ca-pub-2775682770358114";
/* jrobb-octopress-side */
google_ad_slot = "1549623005";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
